@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  /* custom colors */
  --color-background: #191c23;
  --color-blue: #377dff;
  --color-gray: #232733;
  --color-border: #454754;
  --color-success: #28cc45;

  --font-roboto: "Roboto", sans-serif;
}

body {
  background: var(--color-background);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
